<div class="container-fluid" style="margin-top: 20px !important;">
  <div class="row">

    <div class="col-8">
      <input type="text" class="form-control" id="searchVal" aria-describedby="searchValHelp"
        placeholder="Enter your search input" [(ngModel)]="search">
    </div>
    <div class="dropdown col-2">
      <select [(ngModel)]="source" class="browser-default custom-select">
        <option *ngFor="let option of options" [value]="option.id">{{option.value}}</option>
      </select>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </div>

  </div>
  <div class="row container-fluid">

    <table class="table-striped border-success " style="margin-left:auto;margin-right:auto;">
      <thead>
        <tr class="row">
          <th data-field="id" class="col-6">
            <span class="text-success">
              Title
            </span>
          </th>
          <th data-field="name" class="col-6"> 
            <span class="text-success">
              Author
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of data" class="row">
          <td class="col-6">{{obj.title}}</td>
          <td class="col-6">{{obj.author}} <span *ngIf="obj.submissionCount">({{obj.submissionCount}})</span></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>